#bartop{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.userProfileContainer{
    margin-left: auto;
    position: relative;
}

.dropdown-content-hide{
    transition: all 0.2s;
    position: absolute;
    min-width: 160px;
    right: 0%;
    visibility: hidden;
    opacity: 0;
    top: 89%;
    height: 200px;
}

#avatarImg{
    color: white;
    background-color: maroon;
}

#logoTopContainer{
    position: absolute;
    right: 50%;
    color: rgb(204 204 204);
    transform: translate(50%, 0);
}

#logoTopContainer p {
    font-size: 40px;
    font-family: RobotoBlack;
}

#nineLogoTextTop{
    color: #1d63dc;
}

#userNameContainer{
    margin-top: 8px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
}

#userName{
    font-family: RobotoMedium;
    font-size: 19px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.dropdown-content-hide{
    transition: all 0.2s;
    position: absolute;
    min-width: 178px;
    right: 0%;
    visibility: hidden;
    height: fit-content;
    opacity: 0;
    top: 89%;
    border-radius: 3px;
}

.dropdown-content {
    display: block;
    position: absolute;
    transition: all 0.2s;
    min-width: 180px;
    height: fit-content;
    right: 0%;
    top: 89%;
    opacity: 1;
    visibility:visible;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
    z-index: 1;
    border-radius: 3px;
}

.dropdownItem {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    cursor: pointer;
    transition: all 0.05s;
}

.dropdownItem:hover{
    background-color: rgb(245, 245, 245);
}

.dropdownItem p {
    color: grey;
    margin-left: 10px;
}